<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Add Video to Video Form | VideoForm</title>
    <meta name="description" content="Responsive, Bootstrap, BS4" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <link rel="icon" href="/userui/assets/img/favicon.png" type="image/png">


    <style media="screen">

        
        #container {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        
        .page_404 {
            padding: 40px 0;
            background: #fff;
            font-family: 'Arvo', serif;
        }
        
        .page_404 img {
            width: 100%;
        }
        
        .four_zero_four_bg {
            /* background-image: url(../userui/assets/img/opps.jpg); */
            background-image: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif);
            height: 400px;
            background-position: center;
        }
        
        .four_zero_four_bg h1 {
            font-size: 80px;
        }
        
        .four_zero_four_bg h3 {
            font-size: 80px;
        }
        
        .link_404 {
            color: #fff!important;
            padding: 10px 20px;
            background: #39ac31;
            margin: 20px 0;
            display: inline-block;
        }
        
        .contant_box_404 {
            margin-top: -50px;
        }
    </style>


    <!-- endbuild -->
</head>

<body>
    <div id="container">
        <section class="page_404">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 ">
                        <div class="col-sm-10 col-sm-offset-1  text-center">


                            <div class="four_zero_four_bg">
                                <h1 class="text-center ">Sorry !! </h1>


                            </div>
                            <div class="contant_box_404">
                                <h3 class="h2">
                                    Look's Like something went wrong
                                </h3>

                                <a href="/home" class="link_404" style="background-color:#41468d!important;border-radius:5px;margin-left:80px">Go to Home</a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>



</body>

</html>